.main-banner{
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(xl){
    flex-direction: row;
    justify-content: space-between;
  }

  .main-item-1{
    display: none;
    @include media-breakpoint-up(xl){
      display: block;
      width: 25%;
    }
  }
  .main-item-2{
    width: 100%;
    order: 2;
    @include media-breakpoint-up(xl){
      width: 50%;
      order: 1;
    }
  }
  .main-item-3{
    width: 100%;
    order: 1;
    @include media-breakpoint-up(xl){
      display: block;
      width: 25%;
      order: 2;
    }
  }
}

.main-img{
  transition: ease .8s;
  &:hover {
    box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.80);
  }
}

.mt-lg-n96{
  @include media-breakpoint-up(lg){
    margin-top: -96px;
  }
}


.banner-img {
  background-image: url(../assets/images/carousel_background.png), radial-gradient(50% 50% at 50% 50%, #300871 0%, #000 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: -5;
  padding-top: 136px;
  margin-top: -136px;

  @include media-breakpoint-up(lg){
    background-size: contain;
    padding-top: 144px;
    margin-top: -144px;
  }
}

@include media-breakpoint-up(lg){
  .w-lg-25{
    width: 25%;
  }
  .w-lg-50{
    width: 50%;
  }
}

@include media-breakpoint-up(sm){
  .w-sm-100{
    width: 100%;
  }
}



.icon-circle{
  display: inline-block;
  width: 8px;
  height: 8px;

  @include media-breakpoint-up(md){
    width: 12px;
    height: 12px;
  }
}

.icon-line{
  display: inline-block;
  width: 1248px;
  height: 8px;

  @include media-breakpoint-up(md){
    width: 124px;
    height: 12px;
  }
}

.alphabox {
  height: 351px;
  background-image: url('/assets/images/carousel.png');
  background-size: cover;
  background-position: center;
  padding: 16px;
  @media (min-width: 768px) {
    height: 560px;
    padding-right: 40px;
  }

  &-title {
    letter-spacing: 24px;
    @media (min-width: 768px) {
      letter-spacing: 32px;
      margin-right: -32px;
    }
  }
}

.bg-alphabox{
  background: url('/assets/images/ALPHABOX+.png') no-repeat center center /cover;
  width: 100%;
  height: 90px;

  @include media-breakpoint-up(md){
    height:221px;
  }
}