<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品︱AI 虛擬陪伴</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- banner start -->
    <div class="pt-80">
      <!-- nav-button start -->
      <div class="container text-center">
        <ul class="d-flex justify-content-center py-16 list-unstyled">
          <li class="pe-4 pe-lg-12"><a class="px-16 px-lg-80 py-4 ff-shrikhand fs-16 fs-md-24 rounded-5 btn btn-outline-light" href="#">Diane</a></li>
          <li class="px-4 px-lg-12"><a class="px-16 px-lg-80 py-4 ff-shrikhand fs-16 fs-md-24 rounded-5 btn btn-outline-light" href="#">Felix</a></li>
          <li class="px-4 px-lg-12"><a class="px-16 px-lg-80 py-4 ff-shrikhand fs-16 fs-md-24 rounded-5 btn btn-outline-light" href="#">Karina</a></li>
          <li class="ps-4 ps-lg-12"><a class="px-16 px-lg-80 py-4 ff-shrikhand fs-16 fs-md-24 rounded-5 btn btn-outline-light" href="#">Vito</a></li>
        </ul>
      </div>
      <!-- nav-button end -->

      <!-- banner-swiper start -->
      <div class="row g-0 position-relative">
        <div class="col-lg-6">
          <!-- Slider main container -->
          <div class="swiper sw3 position-relative">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/assets/images/diane_square2.png" alt="Diane">
              </div>
              <div class="swiper-slide">
                <img src="/assets/images/felix_square2.png" alt="Felix">
              </div>
              <div class="swiper-slide">
                <img src="/assets/images/karina_square2.png" alt="Karina">
              </div>
              <div class="swiper-slide">
                <img src="/assets/images/vito_square2.png" alt="Vito">
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center px-12 px-md-16 position-absolute top-50 start-0 z-3 w-100">
              <div class="swiper-button-prev">
                <img class="d-none d-lg-block" src="/assets/images/icons/arrow_circle_left.svg" style="width: 60px;height: 60px;" alt="arrow">
                <img class="d-lg-none" src="/assets/images/icons/arrow_circle_left.svg" style="width: 36px;height: 36px;" alt="arrow">
              </div>
              <div class="swiper-button-next">
                <img class="d-none d-lg-block" src="/assets/images/icons/arrow_circle_right.svg" style="width: 60px;height: 60px;" alt="arrow">
                <img class="d-lg-none" src="/assets/images/icons/arrow_circle_right.svg" style="width: 36px;height: 36px;" alt="arrow">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-white d-flex justify-content-center flex-column text-start px-12 px-lg-40 pt-16 pt-lg-0">
          <h3 class="ff-shrikhand fs-40 fs-md-64 mb-24">Diane</h3>
          <p class="fw-bold">知識型</p>
          <p class="mb-8 mb-lg-16">學術領導/知識分享/智能問答</p>
          <img src="/assets/images/icons/line_end_arrow_product.svg" alt="arrow" class="w-25 w-lg-50 mb-16 mb-lg-0">
          <div class="d-lg-none z-1 d-flex justify-content-center mb-24">
            <a href="#" class="position-relative">
              <img src="/assets/images/icons/arrow_downward.svg" style="width: 20px; height: 20px;" alt="arrow" class="position-absolute top-50 start-50 translate-middle">
              <div class="alphaboxCircle-s mx-auto"><img src="/assets/images/icons/line-path-gruop-s.svg"></div>
            </a>
          </div>
        </div>
        <div class="d-none d-xl-block position-absolute bottom-0 z-3 d-flex justify-content-center mb-24 mb-lg-40">
          <a href="#info" class="position-relative">
            <img src="/assets/images/icons/arrow_downward.svg" alt="arrow" class="position-absolute top-50 start-50 translate-middle">
            <div class="alphaboxCircle mx-auto"><img src="/assets/images/icons/line-path-gruop.svg"></div>
          </a>
        </div>
      </div>
      <!-- banner-swiper end -->
    </div>
    <!-- banner end -->

    <!-- info start -->
    <div class="pt-60 pt-lg-80 pb-80 pb-lg-120 bg-white text-black">
      <div class="container">
        <div class="row g-0 mb-32 mb-lg-120">
          <div class="col-12 d-flex justify-content-between mb-24 mb-lg-32">
            <p class="d-flex align-items-center">
              <img class="mr-12" src="/assets/images/icons/emergency_b.svg" alt="emergency" style="width: 40px; height: 40px;">
              <span class="fs-20 fw-medium">學術領導/知識分享/智能問答</span>
            </p>
            <p class="text-end fw-medium d-none d-lg-block">ALPHABOX+</p>
          </div>
          <div class="col-lg-4 fw-medium">
            歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Felix！
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-24 mb-lg-100">
            <p class="fw-bold mb-16 mb-lg-24 line-hover">先進的3D投影技術</p>
            <p class="">Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
          </div>
          <div class="col-lg-4 mb-24 mb-lg-100">
            <p class="fw-bold mb-16 mb-lg-24 line-hover">人性化的互動設計</p>
            <p class="">Diane 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Diane 進行自然、流暢的對話。</p>
          </div>
          <div class="col-lg-4 mb-24 mb-lg-100">
            <p class="fw-bold mb-16 mb-lg-24 line-hover">豐富的應用場景</p>
            <p class="">無論是家庭娛樂、教育培訓還是商業展示，Diane 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
          </div>
          <div class="col-lg-4 mb-24 mb-lg-100">
            <p class="fw-bold mb-16 mb-lg-24 line-hover">高度自主性</p>
            <p class="">Diane 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
          </div>
          <div class="col-lg-4 mb-24 mb-lg-100">
            <p class="fw-bold mb-16 mb-lg-24 line-hover">簡單易用的操作界面</p>
            <p class="">Diane 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- info end -->
    
    <!-- share start -->
    <div class="pt-60 pt-lg-80 pb-80 pb-lg-120" style="background: radial-gradient(50% 50.00% at 50% 50.00%, #28085C 0%, #000 100%);">
      <div class="container">
        <div class="row text-white mb-24 mb-lg-80">
          <div class="col-12">
            <h2 class="fs-40 fs-md-48 fw-bold text-white letter-spacing-40 letter-spacing-md-48 mb-12 mb-md-12 text-md-start" id="info">使用分享</h2>
          </div>
          <div class="col-lg-4">
            展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
          </div>
        </div>
        <ul class="row list-unstyled g-0">
          <li class="col-lg-4 pe-lg-12">
            <div class=" text-white bg-primary-2 fw-bold d-flex flex-column p-24 mb-24" style="height: 300px;">
              <div class="d-flex align-items-center mb-32"><p class="">Zona</p><img class="mx-8" src="/assets/images/icons/ellipse-3.svg" style="width: 8px; height: 8px;"><p class="">Taipei</p></div>
              <div class="flex-grow-1">
                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
              </div>
              <div class="d-flex align-items-center"><img class="me-16" src="/assets/images/icons/ellipse-3.svg" style="width: 16px; height: 16px;"><img class="me-16" src="/assets/images/icons/ellipse-3.svg" style="width: 16px; height: 16px;"><p class="">ALPHABOX+ Dianne</p></div>
            </div>
          </li>
          <li class="col-lg-4 px-lg-12">
            <div class=" text-black bg-white fw-bold d-flex flex-column p-24 p-24 mb-24" style="height: 300px;">
              <div class="d-flex align-items-center mb-32"><p class="">Lin</p><img class="mx-8" src="/assets/images/icons/ellipse-1.svg" style="width: 8px; height: 8px;"><p class="">Chiayi</p></div>
              <div class="flex-grow-1">
                非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
              </div>
              <div class="d-flex align-items-center"><img class="me-16" src="/assets/images/icons/ellipse-1.svg" style="width: 16px; height: 16px;"><img class="me-16" src="/assets/images/icons/ellipse-1.svg" style="width: 16px; height: 16px;"><p class="">ALPHABOX+ Felix</p></div>
            </div>
          </li>
          <li class="col-lg-4 ps-lg-12">
            <div class=" text-white bg-primary-2 fw-bold d-flex flex-column p-24 p-24 mb-24" style="height: 300px;">
              <div class="d-flex align-items-center mb-32"><p class="">云</p><img class="mx-8" src="/assets/images/icons/ellipse-3.svg" style="width: 8px; height: 8px;"><p class="">Taipei</p></div>
              <div class="flex-grow-1">
                我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
              </div>
              <div class="d-flex align-items-center"><img class="me-16" src="/assets/images/icons/ellipse-3.svg" style="width: 16px; height: 16px;"><img class="me-16" src="/assets/images/icons/ellipse-3.svg" style="width: 16px; height: 16px;"><p class="">ALPHABOX+ Dianne</p></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- share end -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
